#home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
}

#home_page__work-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    max-width: 1240px;
    background: rgba(18, 17, 19, 0.25);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(18, 17, 19, 0.3);
}

#home_page__work-title, #home-page__skills-title{
    align-self: center;
    font-size: 32px;
    margin: 15px;
    font-weight: 400;
}

#home-page__skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    max-width: 1240px;
    margin-top: 150px;
    padding: 10px;
    background: rgba(18, 17, 19, 0.25);
    border-radius:5px;
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(18, 17, 19, 0.3);
}

.home-page__skills-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    height: fit-content;
    gap: 10px;
}

.home-page__skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 125px;
    background: rgba(30, 30, 30, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(222, 222, 222, 0.1);
}

.home-page__skill-container:hover {
    transition: all 0.3s ease-in-out;
    background: rgba(18, 17, 19, 0.645);
}

.home-page__skill-container img{
    height: 100px;
    object-fit: contain;
}

#home_page__work-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 25px 25px;
    gap: 20px;
}


.home_page__work-gallery-card{
    height: fit-content;
    width: fit-content;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    background: rgba(18, 17, 19, 0.25);
    border-radius:15px;
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(18, 17, 19, 0.3);
}

.home_page__work-gallery-card:hover{
    transition: all 0.3s ease-in-out;
    background: rgba(18, 17, 19, 0.645);
}

.home_page__work-gallery-card_image{
    max-height: 180px;
    max-width: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

img{
    width: 100%;
}

.home_page__work-gallery-card_content{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
}

.home_page__work-gallery-card_content-title{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.home_page__work-gallery-card_content-tags-container{
    display: flex;
    gap: 11px;
}

.home_page__work-gallery-card_content-tags-container-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: auto;
    padding: 0 10px;
    background-color: #899878;
    border-radius: 10px;
}

.home_page__work-gallery-card_content-tags-container-tag-text{
    color: #121113;
    font-weight: bold;
    font-size: 12.5px;
}

@media(max-width: 768px){

    #home_page{
        margin: 0 10px;
    }

    #home-page__skills-container, #home_page__work-container{
        margin-top: 80px;
    }
    
    #home_page__work-container{
        max-width: 768px;
    }

    .home-page__skill-container{
        height: 95px;
        width: 95px;
    }

    .home-page__skill-container img{
        height: 70px;
    }

    #home_page__work-gallery{
        padding: 0 10px 25px;
    }

    .home_page__work-gallery-card{
        max-width: 310px;
        padding: 5px;
    }

    .home_page__work-gallery-card_image{
        height: 140px;
        width: 250px;
    }
    .home_page__work-gallery-card_content-title{
        font-size: 20px
    }
    .home_page__work-gallery-card_content-tags-container-tag-text{
        font-size: 10px;
    }
}

@media(max-width: 428px){
    #home_page__work-title{
        font-size: 28px;
    }

    #home_page__work-gallery{
        padding: 0 10px 25px;
    }
}